@font-face {
  font-family: 'Raleway';
  src:
    local('Raleway'),
    url(https://github.com/konstantin3117/ono-tebe-nado/blob/main/fonts/Raleway-Regular.woff2) format('woff2'),
    url(https://github.com/konstantin3117/ono-tebe-nado/blob/main/fonts/Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src:
    local('Raleway'),
    url(https://github.com/konstantin3117/ono-tebe-nado/blob/main/fonts/Raleway-Bold.woff2) format('woff2'),
    url(https://github.com/konstantin3117/ono-tebe-nado/blob/main/fonts/Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
