@font-face {
  font-family:  'Raleway';
    url(https://github.com/konstantin3117/ono-tebe-nado/blob/main/fonts/Raleway-Regular) format('woff2'),
    url(https://github.com/konstantin3117/ono-tebe-nado/blob/main/fonts/Raleway-Regular) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family:  'Raleway';
    url(https://github.com/konstantin3117/ono-tebe-nado/blob/main/fonts/Raleway-Bold) format('woff2'),
    url(https://github.com/konstantin3117/ono-tebe-nado/blob/main/fonts/Raleway-Bold) format('woff');
  font-weight: bold;
  font-display: swap;
}
